html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.navitem {
  justify-items: flex-end;
}

.navcontent {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 2%;
  background: rgb(24, 24, 33);
  background: linear-gradient(69deg, rgba(24, 24, 33, 1) 100%, rgba(26, 139, 158, 1) 100%);
  color: aliceblue;
}

.navcontent ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 15px;
}

.navcontent li {
  font-weight: 600;
  font-size: 16px;
}

.search {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
}

.search_form {
  min-width: 80%;
}


.search h1 {
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search button {
  padding: 5px;
  margin: 10px;
}

footer {
  text-align: center;
  background-color: blanchedalmond;
  padding: 20px;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
  align-items: center;
  justify-items: center;
  flex-direction: column;
  display: flex;
  background: rgb(71, 71, 91);
  background: linear-gradient(69deg, rgba(71, 71, 91, 1) 100%, rgba(26, 139, 158, 1) 100%);
  color: aliceblue;
}

.card {
  padding: 1.2rem 1.2rem;
  border-radius: 20px;
  background: rgba(#ffffff70, 0);
  /* border: 1px solid rgba(var(--card-border-rgb), 0); */
  min-width: 1000px;
  max-width: 1000px;
  display: flex;
  flex-direction: grid;
  border: #222222;
  border-style: solid;
  box-shadow: 0px 0px 5px 5px grey;
  margin: 20px;
  transition: 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 10px seashell;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  display: flex;
  padding-top: 0%;
  margin: 0px;
}

.card p {

  opacity: 0.8;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 50ch;
  max-height: 100px;
  text-align: justify;
}

.incard {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}